.load {
    opacity: 0;
}

[class*="reveal"]{
    opacity: 1;
    transition: all 1s ease;
}

.reveal-0{
    transition-delay: .2s;
}

.reveal-1{
    transition-delay: .4s;
}
.reveal-2{
    transition-delay: .8s;
}