$fontparagraphe : 1.2rem;
$fontfeelselected : 2rem;
$fontfeelselection : 1.8rem;
$fontlegend: 1.9rem;
$fontbutton: 1.4rem;
$fontlink: 1.4rem;

$titleSizeh1: 1.8rem;
$titleSizeh2: 1.6rem;
$titleSizeh3: 1.4rem;

@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

$familyfeel: 'MonteCarlo', cursive;
$familymain: 'Pacifico', cursive;
$familylink: 'Merienda', cursive;

$textColor: rgba(219, 219, 219, 0.822);
$fontdark: rgb(68, 67, 67);
